<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @incident.type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @incident.address %>
</p>

<p>
  <strong>Date:</strong>
  <%= @incident.date %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @incident.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @incident.longitude %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
